Django==1.6
django-openid-auth==0.5
python-openid==2.2.5
sphinx==1.2.2
Markdown==2.4
PyYAML==3.11
defusedxml==0.4.1
django-filter==0.7
django-oauth-plus==2.2.4
django-oauth2-provider==0.2.6
django-guardian==1.2.0
djangorestframework==2.3.13