{% extends 'base.html' %}

{% block content %}
    {% load wtforms %}
    <div id="calendar-content"></div>
    <div hidden="hidden">
    {% for field in form %}
        {{ field.label }}<br/>{% form_field field%} <br/>
    {% endfor %}
    </div>
{% endblock %}

{% block nav-name %}general{% endblock %}
{% block tab-name %}calendar{% endblock %}
{% block media_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'plugins/fullcalendar/fullcalendar.css' %}" media="all"/>
    <link rel="stylesheet" href="{% static 'plugins/fullcalendar/fullcalendar.print.css' %}" media="all"/>
{% endblock %}
{% block media_js %}
    <script src="{% static 'plugins/fullcalendar/fullcalendar.min.js' %}"></script>
    <script language="JavaScript">
        $(document).ready(function() {
            // page is now ready, initialize the calendar...
            console.log('calendar now is loading');
            $('#calendar-content').fullCalendar({
                // put your options and callbacks here
            })

        });
    </script>
{% endblock %}